opencv-python
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
geoip2
idna
maxminddb
multidict
propcache
pycryptodome
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
requests
typing_extensions
urllib3
yarl
numpy
